.container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 16px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 80px; 
  }
  .property-card {
    background-color: #ffffff; 
    transition: transform 0.2s, box-shadow 0.2s; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    max-width: 600px; 
    margin: 16px 0; 
    padding: 16px; 
    border-radius: 8px; 
    display: flex; 
    align-items: center; 
  }
  
  .property-card img {
    border-radius: 8px; 
    width: 100px; 
    height: auto;
    margin-right: 16px; 
  }
  
  .property-card div {
    flex-grow: 1; 
  }
  
  .text-gray-700 {
    color: #4a4a4a; 
  }
  
  .text-gray-500 {
    color: #7d7d7d; 
  }
  
  h3 {
    font-size: 1.25rem;
    margin: 0; 
  }
  
  button {
    background-color: #e63946; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.2s; 
    padding: 8px 12px; 
  }
  
  button:hover {
    background-color: #d62839; 
  }
  
  p {
    margin: 8px 0; 
  }
  
